notebooks/movie_recommender_system.ipynb
data/tmdb_5000_credits.csv
data/tmdb_5000_movies.csv
database/adding_semantic_embeddings.py
database/fetch_poster_for_existing_movies.py
database/insert_movies.py
database/update_movies.py
database/df.pkl
database/df1.pkl
database/genre_map.pkl
database/movies.csv
database/semantic_movies.csv
database_migration/migration.py
models/df.pkl
models/similarity.pkl
.env
.gitattributes
.ipynb_checkpoints